
    <footer>
      <a href="#top"><i class="fab fa-github footer-icon"></i></a><a href="https://www.linkedin.com/in/luiz-felipe-coelho-de-oliveira-lima-191a89140/"><i class="fab fa-linkedin footer-icon"></i></a>
      <p>Luiz Felipe Coelho de Oliveira Lima © 2021</p>
    </footer>


  </body>
</html>
