<%- include('partials/header') -%>

<div class="container-fluid cv-container">

  <!-- <h1>CV</h1> -->

  <!-- About me -->
  <h1>Luiz Felipe Coelho de Oliveira Lima</h1>
  <!-- <p class="near-collapse">Full name: Luiz Felipe Coelho de Oliveira Lima</p> -->
  <p>25 years old</p>
  <p>Hungarian-Brazilian</p>
  <p>Lives in São Paulo, Brazil</p>

  <!-- Education -->
  <h3>Education</h3>
  <p class="near-collapse">
    BA in Economics - Getulio Vargas Foundation (FGV/EESP) (2014 - 2018)
    <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
      <i class="fas fa-chevron-right"></i>
    </a>
  </p>

  <!-- Work Experience -->
  <h3>Work Experience</h3>

  <!-- MS -->
  <p class="near-collapse">
    Data Science Consultant at Management Solutions (mar/19 - today)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMSDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseMSDesc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
      <ul>
        <li>Latest project</li>
        <li>Project 4</li>
        <li>Project 3</li>
        <li>Project 2</li>
        <li>Project 1</li>
      </ul>
    </div>
  </div>

  <!-- XP -->

  <p class="near-collapse">
    Intern at XP Insurance Brokerage Firm (jan/18 - may/18)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseXPDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseXPDesc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
    </div>
  </div>

  <!-- B3 -->

  <p class="near-collapse">
    Summer Intern at B3 (jul/17)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB3Desc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseB3Desc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
    </div>
  </div>

  <!-- Academic Experience -->
  <h3>Academic Experience</h3>

  <!-- Scientific Initiation -->
  <p class="near-collapse">
    Scientific Initiation at CEPESP/FGV (may/17 - feb/18)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSIDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseSIDesc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
    </div>
  </div>

  <!-- Teacher's Assistant -->
  <p class="near-collapse">
    Programming Teacher's Assistant at FGV (feb/15 - apr/15)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTADesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseTADesc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
    </div>
  </div>

  <!-- Technologies -->
  <h3>Technologies</h3>

  <ul>

    <!-- Machine Learning -->
    <li class="near-collapse">
      Machine Learning
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseML" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseML">
        <div class="card card-body cv-card">
          <p>Insert details here </p>
        </div>
      </div>

    </li>

    <!-- Web Development -->
    <li class="near-collapse">
      Web Development
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWD" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseWD">
        <div class="card card-body cv-card">
          <p>Insert details here </p>
        </div>
      </div>

    </li>

    <!-- Databases -->
    <li class="near-collapse">
      Databases
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDB" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseDB">
        <div class="card card-body cv-card">
          <p>Insert details here </p>
        </div>
      </div>

    </li>

    <!-- Big Data -->
    <li class="near-collapse">
      Big Data
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBD" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseBD">
        <div class="card card-body cv-card">
          <p>Insert details here </p>
        </div>
      </div>

    </li>

    <!-- Miscellaneous Tools -->
    <li class="near-collapse">
      Miscellaneous Tools
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMisc" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseMisc">
        <div class="card card-body cv-card">
          <p>Insert details here (office, VBA, etc.)</p>
        </div>
      </div>

    </li>

  </ul>

  <!-- Languages -->
  <h3>Languages</h3>
  <ul>
    <li class="near-collapse">Portuguese - Native</li>
    <li class="near-collapse">English - Fluent</li>
    <li class="near-collapse">Hungarian - Intermediate</li>
    <li class="near-collapse">Spanish - Intermediate</li>
  </ul>

  <!-- Honors & Awards -->
  <h3>Awards</h3>

  <ul>

    <li class="near-collapse">
      10th Best of the Year Prize EESP/FGV – Valuation – 1st place (2018)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

    <li class="near-collapse">
      9th Best of the Year Prize EESP/FGV – Monography – 3rd place (2017)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

    <li class="near-collapse">
      8th Best of the Year Prize EESP/FGV – Project (Macroeconomics) – 1st place (2016)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

    <li class="near-collapse">
      7th Best of the Year Prize EESP/FGV – Project (Microeconomics) – 1st place (2015)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

  </ul>

  <!-- Courses, Certifications and Events -->
  <h3>Courses, Certifications and Events</h3>

  <ul>

    <li class="near-collapse">
      Insurance Broker certification – Every type (FUNENSEG) (2018)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

    <li class="near-collapse">
      Atendee at ODSC Europe - Open Data Science Conference (London, United Kingdom) (2017)
    </li>

    <li class="near-collapse">
      Russian course at Pushkin State Russian Language Institute (96h) (Moscow, Russia) (2015)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

    <li class="near-collapse">
      Introduction to Programming Logic at Impacta (40h) (2012)
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>

  </ul>

  <!-- Voluntary Work -->
  <h3>Voluntary Work</h3>

  <!-- Social Action -->
  <p class="near-collapse">
    Social Action Participant at Management Solutions (2019 - today)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSADesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseSADesc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
    </div>
  </div>

  <!-- EESP Ensina -->
  <p class="near-collapse">
    Game Theory Coordinator at the 1st Economics Course for High School Students at the Project EESP/Ensina (2016)
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEEDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseEEDesc">
    <div class="card card-body cv-card">
      <p>Insert details here </p>
    </div>
  </div>

</div>

<%- include('partials/footer') -%>
